<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Campaign Detail
      </mat-panel-title>
    </mat-expansion-panel-header>
        <form class="example-form" [formGroup]="firstFormGroup">
          <mat-form-field   appearance="outline" class="example-full-width">
            <mat-label>Campaign Objective</mat-label>
            <input matInput placeholder="Campaign Objective" formControlName="campaignObj">
          </mat-form-field>
          
          <mat-form-field appearance="outline">
              <mat-label>Campaign Category(Opitional)</mat-label>
              <mat-select formControlName="campaignCat">
                <mat-option *ngFor="let category of categorys" [value]="category.value" >
                  {{category.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
              <mat-label>Offer Type</mat-label>
              <mat-select formControlName="orderType">
                <mat-option *ngFor="let category of categorys" [value]="category.value">
                  {{category.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          
            <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Additional Comments</mat-label>
            <textarea rows="5" matInput placeholder="Ex. It makes me feel..." formControlName="additionalComments"></textarea>
          </mat-form-field>
      
          <div class="example-full-width">
            <button mat-button (click)="goToList()" class="dull-btn">Go to List</button>

              <button mat-button (click)="sendForm()" class="primary-btn">Next</button>
            </div>
        </form>
  </mat-expansion-panel>
</mat-accordion>
