<mat-stepper class="demo-stepper" #stepper>
  <mat-step label="Campaign Detail">
    <app-form1 (firstFormEmitter)="firstFormSubmission($event)"></app-form1>
  </mat-step>
  <mat-step label="Location Detail">
    <app-form2 (backEmitter)="goBack()" (secondFormEmitter)="secondFormSubmission($event)"></app-form2>
  </mat-step>
  <mat-step label="Audience">
    <app-form3 (backEmitter)="goBack()" (thirdFormEmitter)="thirdFormSubmission($event)"></app-form3>
  </mat-step>
  <mat-step label="Campaign Schedule">
    <app-form4 class="four-step" *ngIf="showForm4" [form1]="form1" [form2]="form2" [form3]="form3">
    </app-form4>
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-stepper>
