<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Location Detail
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form class="example-form" [formGroup]="VOForm" autocomplete="off">

      <div class="grid-ui">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Search Location</mat-label>
          <input matInput (keydown.enter)="$event.preventDefault()" #search>
        </mat-form-field>

        <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (mapClick)="mapClicked($event)">
          <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)"
            [latitude]="m.latitude" [longitude]="m.longitude" [label]="m.label!" [markerDraggable]="m.draggable"
            (dragEnd)="markerDragEnd(m, $event)">

          </agm-marker>
        </agm-map>
      </div>
      <div class="position-relative">
        <div class="two-step-form-table">
          <ng-container formArrayName="VORows">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
                  {{i + 1}}
                </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
                  <div class="left-td">
                    <mat-form-field [appearance]="VOForm.get('VORows')?.value[i]?.isEditable? 'fill' : 'outline'">
                      <input matInput class="left-td" type="text" formControlName="name"
                        [readonly]="VOForm.get('VORows')!.value[i]!.isEditable">
                    </mat-form-field>
                  </div>
                </td>
              </ng-container>

              <!-- Edit Column -->
              <ng-container matColumnDef="weight">
                <td mat-cell *matCellDef="let element; let i = index">
                  <div class="right-td">
                    <button mat-raised-button class="demo-button" *ngIf="VOForm.get('VORows')?.value[i]?.isEditable"
                      matTooltip="Edit" (click)="EditSVO(VOForm,i)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button class="save-btn" matTooltip="Save Changes" (click)="SaveVO(VOForm,i)"
                      *ngIf="!VOForm.get('VORows')?.value[i]?.isEditable">
                      save
                    </button>
                  </div>
                </td>
              </ng-container>

              <!-- Remove Column -->
              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef>Symbol</th>
                <td mat-cell *matCellDef="let element; let i = index">
                  <button mat-raised-button [disabled]="!dataToDisplay.length" (click)="removeData(i)"
                    class="demo-button" *ngIf="VOForm.get('VORows')?.value[i].isEditable" matTooltip="Delete">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </ng-container>
        </div>
        <mat-form-field appearance="outline" class="radius-input full-width mat-ui-change">
          <mat-label>Radius</mat-label>
          <input matInput formControlName="radius">
        </mat-form-field>
      </div>


      <div class="flex-ui example-full-width">
        <button mat-button (click)="back()" class="dull-btn">Back</button>
        <div class="">
          <button mat-button (click)="sendForm()" class="primary-btn">Next</button>
        </div>
      </div>
    </form>


  </mat-expansion-panel>
</mat-accordion>