.primary-btn {
  margin-left: auto;
  padding: 10px 30px;
  background-color: #1162ff;
  color: #fff;
  height: auto;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
}

.form-four-container {
  h1 {
    font-size: 26px;
    line-height: 1.5;
    font-weight: 600;
  }
}
