<mat-card class="card-ui">
  <mat-card-content>
    <div class="mat-elevation-z8 table-ui">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="width" mat-sort-header="id"> Program ID </th>
          <td mat-cell *matCellDef="let row" class="text-center"> {{row.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="text-center align-center" mat-sort-header="name"> Campaign Name </th>
          <td mat-cell *matCellDef="let row" class="text-center" class="mouse-pointer"> <a (click)="openDialog(row.id)">{{row.name}}</a> </td>
        </ng-container>

        <!-- status Column -->
        <ng-container matColumnDef="progress" class="progess">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="progress"> Status </th>
          <td class="status-ui" mat-cell
            [ngClass]="{'green': row.progress=== 'Completed', 'gray': row.progress === 'Pending', 'blue': row.progress === 'Scheduled' }"
            *matCellDef="let row"><span>{{row.progress}}</span></td>
        </ng-container>

        <!-- CTR Column -->
        <ng-container matColumnDef="ctr">
          <th mat-header-cell *matHeaderCellDef class="text-center" mat-sort-header="ctr"> CTR </th>
          <td mat-cell *matCellDef="let row" class="text-center"> {{row.ctr}}% </td>
        </ng-container>

        <!-- Start date Column -->
        <ng-container matColumnDef="start_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="start_date"> Start Date </th>
          <td mat-cell *matCellDef="let row">{{row.start_date | date:  'MMM d, y, h:mm a'  }} </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="text-right"> Actions </th>
          <td mat-cell *matCellDef="let row">
            <mat-form-field appearance="fill" class="mat-ui-change">
              <mat-label>Actions</mat-label>
              <mat-select>
                <mat-option (click)="deleteCampaign(row.id)">Delete</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" 
      [length]="membersList.length" 
      (page)="pageSizeChangeHandler($event)"
      aria-label="Select page of users"></mat-paginator>
    </div>

  </mat-card-content>
</mat-card>